*{
    box-sizing: border-box;
}

#ctn{
    width: 360px;
    height: 500px;
    margin: 50px auto 0 auto;
    background-color: #efefef;
    overflow: hidden;
}

.dr-list{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 10px;
    list-style: none;
    overflow: auto;
}
.dr-list .dr-item{
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    overflow: hidden;

    transition: transform 300ms ease, opacity 300ms ease;
}
.dr-list .dr-item.dragging{
    position: absolute;
    width: 100%;
    opacity: 0.8;
    background-color: rgba(66, 94, 136, 0.75);
    color: #fff;

    -webkit-transform: scale(1.03);
    -webkit-transform-origin: center;    
}
.dr-list .dr-item.has-offset{
    margin-top: 80px;
}

.dr-list .dr-item .c-name{
    margin: 0;
    line-height: 1.5;
}