/* line 1, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
* {
  box-sizing: border-box;
}
/* line 5, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
#ctn {
  width: 360px;
  height: 400px;
  margin: 50px auto 0 auto;
  background-color: #efefef;
  overflow: hidden;
}
/* line 14, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-list {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 10px;
  list-style: none;
  overflow: auto;
}
/* line 23, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-list.ani .dr-item {
  transition: all 120ms linear;
}
/* line 25, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-list.ani .dr-item.dragging {
  transition: transform 300ms ease;
}
/* line 30, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-list .dr-item {
  transition: all 0ms linear;
}
/* line 32, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-list .dr-item.dragging {
  transition: transform 300ms ease;
}
/* line 37, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-item {
  position: relative;
  height: 60px;
  /* 10 + 40 + 10 */
  padding: 10px;
  padding-left: 60px;
  margin: 10px 0;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
  transition: transform 300ms ease;
}
/* line 53, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-item.dragging {
  position: absolute;
  left: 10px;
  right: 10px;
  margin: 0;
  opacity: 1;
  z-index: 1000;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.04);
  -webkit-transform-origin: center;
}
/* line 65, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-item.has-offset {
  margin-top: 80px;
}
/* line 69, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-item .c-name {
  margin: 0;
  line-height: 1.5;
}
/* line 73, /Users/chenllos/Documents/dev/ReactFlux/drag-resort/layout/less/layout.less */
.dr-item .avatar {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 44px;
  height: 44px;
  border-radius: 40px;
  border: 2px solid #fff;
  box-shadow: 0 0px 6px #999;
}
